*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}
ul{
    list-style: none;
}
.nav-container{
    background-color: #fff;
    border: none;
    margin-bottom: 0;
}
.navbar-logo{
    height: 118px;
    line-height: 118px;
}
.navbar-logo button{
    margin-right: 0px;
    top: calc((100% / 2)/2);
    /* border-color: transparent !important; */
}
.navbar-logo button span.icon-bar{
    background-color: #000 !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: transparent;
}
.mar15{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.collapse-border{
    border-color: transparent !important;
}
.navbar-link{
    float: right;
    margin-bottom: 0;
    height: 118px;
}
.navbar-link.navbar-nav > li{
    height: 100%;
}
.navbar-link.navbar-nav > li > a{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #323232;
}
.navbar-link.navbar-nav li a:hover, .navbar-link.navbar-nav li a:active,
.navbar-link.navbar-nav li a:focus, .navbar-link.navbar-nav li a:visited{
    color: #323232;
    text-decoration: none;
}
.navbar-link.navbar-nav li.active a{
    background-color: #f48300 !important;
    color: #fff;
}

footer{
    background:#323232;
    height: 132px;
    /* position: absolute; */
    bottom:0;
    width:100%;
    text-align: center;
}
footer div{
    font-size:12px;
    color:white;
    font-family:"Microsoft Yahei";
    text-align: center;
    margin-left:10px;
    margin-right:10px;
    padding-top: 57.5px;
}
@media screen and (min-width: 767px){
    .navbar-logo{
        float: left;
    }
    .navbar-link.navbar-nav > li > a{
        line-height: 118px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 767px){
    .navbar-link{
        height: auto;
        float: none;
    }
    .navbar-link.navbar-nav > li{
        height: auto;
    }
    .navbar-link.navbar-nav li a{
        height: auto;
        display: block;
        text-align: center;
    }
    .navbar-logo {
        height: 70px;
        line-height: 70px;
    }
    .navbar-logo img{
        width: auto;
        height: 60px;
    }
    .navbar-logo button{
        top: calc(100% - 60px);
    }
    footer{
        height:70px;
    }
    footer div {
        padding-top: 26.5px;
    }
    .index_zw{
        height: 70px;
    }
}
@media screen and (max-width: 387px){
    footer div {
        padding-top: 20px;
    }
}