body{
    background-color:white !important;
}
.index_zw{
    height:118px;
    width:100%;
}
.banner_div{
    width:100%;
    height:562px;
    background-color:#f79a00;
    overflow: hidden;
}
.img_div{
    width:1437px;
    height:101%;
    background-image:url("../img/yxm_img1.png");
    margin:auto;
    position: relative;
    top: 3px;
}
.img_2{
    width:100%;
    height:auto;
    display:none;
}
.top_fu{
    position: relative;
    top:-65px;
}
.intro_2{
    text-align:center;
    color:#656565;
    margin-top:70px;
    margin-bottom: 30px;
}
.introduction_div{
    text-align:center;
    background:white;
    padding-left:8.333333334%;
    padding-right:8.333333334%;
    border-radius: 13px;
    box-shadow: 0px 5px 35px #ffda9d;
}
.introduction_div > div{
    height:260px;
    overflow: hidden;
}
.index_body{
    width:100%;
}
.title_dow_span{
    /* position: relative; */
    /* top:20px; */
    margin-top: 20px;
    font-size:16px;
    margin-bottom: 30px;
}
.introduction_content{
    color: #9c9999;
    font-size: 16px;
    /* padding-left: 30px; */
    padding-right: 30px;
    /* display: -webkit-box; */
    line-height: 25px;
    padding-top: 5px;
    text-align:center;
}
.introduction_content_pl{
    padding-left: 50px;
}
.div_card h5{
    font-size: 22px;
    margin-top:30px;
    color: #808080;
    margin-bottom:20px;
}
.div_card div{
    font-size:15px;
    color:#a4a1a1;
    margin-bottom: 50px;
}
.div_for_new_img{
    /* background:white; */
    padding: 0;
    /* margin: auto; */
    margin: auto;
    text-align: center;
}
.div_for_new_img > img{
    width:100%;
    height: 100%;
    max-width: 380px;
    /* margin: auto; */
}
.max_big_div{
    background:#323232;
    padding-top: 100px;
    padding-bottom: 100px;
    color:white;
    margin-left: 0px;
    width: 100%;
    margin-right: 0;
    margin-bottom:50px;
}
.clear_float{
    float:none;
    margin:auto;
}
.hz_img_div > div{
    width: 143px;
    height:80px;
    border:1px #e0e0e0 solid;
    margin:0;
    padding: 0;
    display: inline-block;
    margin-left: -1px;
    margin-top: -1px;
    line-height: 80px;
}
.hz_img_div{
    margin-bottom:50px;
}
.new_padd h4{
    margin-bottom:20px;
}
.hz_div{
    text-align:center;
    color:#656565;
}
footer{
    background: #323232;
    height: 132px;
    width: 100%;
    text-align: center;
}
.clear_row{
    margin:0;
}
.new_text{
    text-align:center;
    margin-top: 30px;
    font-size:16px;
}
.new_text h3{
    margin-bottom:15px;
    font-size:22px;
}
.img2_div > img{
    margin-top: 45px;
}
.introduction_div .fl_img{
    margin-top: 10px;
}
.introduction_div .fl_img_2{
    margin-top:35px;
}
.introduction_div > div > p{
    color:#656565;
    font-size:28px;
    margin-top:20px;
    width:100%;
    font-weight: bold;
}
.province{
    text-align:center;
    color: #9c9999;
    font-size:14px;
}
@media screen and (max-width:1437px){
    .banner_div{
        display:none;
    }
    .img_2{
        display:block;
    }
}
@media screen and (max-width:1199px){
    .img2_div > img {
        width:100%;
        margin-top: 90px;
    }
    .new_text {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }
}
@media screen and (max-width:991px){
    .img2_div > img{
        width: 100%;
        height: auto; 
        max-width: 286px; 
        margin-top:-7px;
    }
    .new_text {
        text-align: center;
        margin-top: -15px;
        font-size: 16px;
    }
}
@media screen and (max-width:767px){
    .top_fu {
        position: relative;
        top: 15px;
    }
    .div_card img{
        width: 100%;
        max-width:300px;
    }
    .new_text {
        text-align: center;
        margin-top: 35px;
        font-size: 16px;
    }
}