.viewInfo .breadcrumb {
    padding-left: 0px;
    text-align: left;
    border-bottom: 0px;
    margin: 8px 0px;
    background-color: initial;
}
.viewInfo .breadcrumb>li.first:before{
    content: " ";
}
.viewInfo .breadcrumb>li+li:before{
    content: ">";
}
.viewInfo .breadcrumb li a{
    color: #251a17;
    font-size: 13px;
}
ul.tab{
    margin-bottom: 0;
}
ul.tab li{
    color: #999999;
    /* width: 108px; */
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #fff;
}
ul.tab li.active{
    color: #fff;
    background-color: #f48300;
}
.tab-content .content{
    background-color: #fff;
}
.content .content-box{
    margin: 0 45px;
}
.content .content-header{
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 45px;
    /* margin-top: 42px; */
    padding-top: 45px;
}
.content .content-detail{
    border-bottom: 1px solid #f4f4f4;
}
.content .content-detail li{
    color: #999999;
    padding: 22px 0;
}
.content .content-detail li div{
    width: 716px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
.content .content-detail li div a{
    font-size: 16px;
    color: #999999;
}
.content .content-detail li span{
    text-align: right;
    padding-right: 0;
}
.content .content-header span.header-title{
    border-left: 9px solid #ff6000;
    font-weight: bold;
    font-size: 44px;
    color: #251a17;
    padding-left: 23px;
}
.content-footer{
    text-align: right;
    padding: 13px 0;
}
.content-footer .page-group span.arrow{
    text-align: center;
    line-height: 38px;
    border: 2px solid #ebebeb;
    color: #ebebeb;
    width: 45px;
    height: 42px;
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.content-footer .page-group span.arrow:hover{
    background-color: #ff6000;
    color: #fff;
    border-color: transparent;
}
.content-footer .page-group span.count{
    padding: 0 15px;
    color: #ff6000;
    display: inline-block;
    font-size: 18px;
    position: relative;
    top: -2px;
}
.jumbotron.body-content{
    padding-top: 0;
    background-color: transparent;
    padding-bottom: 33px;
}
.jumbotron.body-content .container{
    position: relative;
    right: 97px;
}
footer{
    position: absolute;
}
@media screen and (max-width: 1380px) and (min-width:1200px){
    .jumbotron.body-content .container{
        width: 970px;
    }
    .content .content-detail li div{
        width: 578px;
    }
}
@media (max-width:1199px){
    .jumbotron.body-content .container{
        right: 0;
    }
    .content .content-detail li div{
        width: 578px;
    }
}
@media (max-width: 991px){
    ul.tab li{
        display: table-cell;
        padding: 0 11px;
    }
    .content .content-detail li div {
        width: 526px;
    }
}
@media screen and (min-width: 768px){
    .navbar-link.navbar-nav > li > a{
        line-height: 118px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (max-width: 767px){
    .content .content-detail li div {
        width: 396px;
    }
    .content .content-header span.header-title{
        font-size:32px;
    }
}
@media (max-width:650px){
    .content .content-detail li div {
        width: 241px;
    }
}
@media (max-width:436px){
    footer{
        position: relative;
    }
}